<div class="container2 loginmodal-container" >

 <form class="container3">
   
<div class="input-group pad">
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" 
  ng-model="login.username" ng-pattern="/^[a-zA-Z]{5+}$/">
</div>

<div class="input-group pad">
  <input type="text" class="form-control" ng-pattern="/^[a-zA-Z]{5+}$/" placeholder="password" 
  aria-describedby="basic-addon2" ng-model="login.password">
    
</div>
<div class="pad pad-left">
        <button type="button" ng-click="validate(login)">Submit</button>
    </div>

</form>
</div>